@font-face {
    font-family: "Norse";
    src: url("./prompts/NorseBold.otf") format("opentype");
    font-display: swap;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.imgBody{
    font-family: "Norse" ;
    background-image: url("./prompts/Unknown.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 8rem 0;
}
.blackBack{
    display: flex;
    gap: 1rem;
    background-color: hsl(0, 0%, 0%, 0.5);
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0.5rem;
}
.formBody{
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 251, 255);
    color: black;
    height: 100%;
    justify-content: center;
    gap: 3rem;
}
.sillyForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#sillyText{
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 2rem;
    padding-right: 18rem;
}
.inputsSect{
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.col{
    display: flex;
    flex-direction: column;
}
.user{
    display: flex;
    gap: 5rem;
}
#sillyP{

    padding-left: 2rem;
}


img{
    width: 7rem;
    height: 9rem;
}
#logoWord{
    font-weight: bolder;
    line-height: 1;
    margin: 0;
    font-size: 8rem;
    transform: translateY(10%);
}
legend{
    font-weight: bolder;
    font-size: x-large;
}
button{
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 25%;
    height: 3rem;
    font-weight: bolder;
    padding: 0.5rem;
    font-size: large;
    margin-left: 2rem;
    transition: transform 0.5s ease;
}
label{
    color: rgb(130, 130, 130);
    font-weight: bolder;
}
input{
    width: 20rem;
    padding: 0.5rem;
    border: 1px solid #E5E7EB;
    border-radius: 0.3rem;
}
#greenBold{
    font-weight: bolder;
    color: #596D48;
}
input:focus{
    outline: none;
    border-color: rgb(0, 162, 255);
}
input:invalid{
    border: 1px solid red;
}
button:hover{
    background-color: #95b678;
    transform: scale(1.1);
}
#greenBold:hover{
    text-decoration: underline;
}